@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: hidden;
}

.main-content{
    background: linear-gradient(90deg, #5d136f 0%, #721489 40%, #b848d4 70%, #c470da);
    background-color: linear-gradient(100%);
    display: flex;
    /* justify-content: center; */
    height: 100vh;
    align-items: center;
    font-family: "Roboto", serif;
}
.first-container {
    margin-right: 3em;
    background-color: rgba(42, 46, 55, 1);
    width: 45vh;
    height: 90vh;
    border: 7px solid white;
    border-radius: 30px;
    /* position: fixed; */
    overflow: hidden;
    margin-left: 6em;
}

.container-02 {
    background-color: blue;
    width: 100%;
    height: 66%;
    /* margin-top: 11.9em; */
}

body h2 {
    margin-left: 4em;
    color: white;
    font-weight: 300;
}

.row {
    display: flex;
    /* background-color: chartreuse; */
    height: 16%;

}

.row button {
    width: 13vh;
    background-color: rgba(47, 54, 70, 1);
    color: white;
    font-size: 1.1rem;
    border: 1px solid rgba(42, 46, 55, 1);
    cursor: pointer;
}

.container-01 {
    background-color: rgba(42, 46, 55, 1);
    /* background-color: rosybrown; */
    width: 100%;
    height: 37%;
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: 100;
    text-align: right;
    /* padding: 1em; */
    padding-top: 3.4em;
    padding-left: .2em;
    padding-right: .2em;
    outline: none;
}

.row button.bg-purple{
    background-color: rgb(191, 59, 220);
}

.row button.color-purple{
    color: rgba(170, 126, 189, 1);
}

button:focus {
    outline: none; /* Removes the default outline */
    border: none;  /* Removes any border changes */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  
}

.info-button{
    background-color: transparent;
    color: white;
    border: none;
}

.info-button:hover{
    color: rgba(170, 126, 189, 1);
}

.pop-up{
    display: none;
    background-color: rgb(224, 215, 250);
    width: 50vh;
    height: 18vh;
    margin-top: 6em;
    border-radius: 10px;
}

.pop-up-content{
    /* background-color: royalblue; */
    padding: 1em;
    font-size: .9rem;
    width: auto;
    height: auto;
}

/* Media Queries (Mobile First Approach) */
@media (max-width: 320px) {
    body h2 {
        display: none;
    }

    .first-container {
        width: 75vh !important;
        height: 70vh;
        border-radius: 30px;
       
    }
}


@media (max-width: 1024px) {
    body h2 {
        margin-left: 2em;
        width: 18%;
    }

    .pop-up {
        width: 22vh;
        height: 24vh;
    }

    .pop-up-content {
        font-size: .8rem;
    }
}

@media (max-width: 480px) {
    body h2 {
        display: none;
    }
}

@media (max-width: 768px) {
    body h2 {
        margin-left: 2em;
        width: 23%;
    }

    .pop-up {
        width: 28vh;
        height: 25vh;
    }

    .pop-up-content {
        font-size: .7rem;
    }
}


@media (max-width: 1366px) {
    /* Additional styles for small laptops if needed */
}

@media (max-width: 1920px) {
    /* Additional styles for desktops if needed */
}

@media (min-width: 2560px) {
    body h2 {
        font-size: 3rem;
    }

    .pop-up {
        width: 25vh;
        height: 22vh;
    }

    .pop-up-content {
        font-size: 1.8rem;
    }

    .info-button {
        height: 3vh;
        width: 3vh;
    }

    .row button {
        font-size: 2.5rem;
    }

    .icon-large {
        font-size: 60px !important;
    }
}